@inherits LanguageSetupBase

<div class="language-form">
    <p>@Localizer["Instructions"]</p>
    <Select TValue="string" MaxVisibleItems="Languages.Count" SelectedValueChanged="OnLanguageSelected">
        @foreach (var language in Languages)
        {
            <SelectItem Value="@language.Key" selected="@(language.Key == SelectedLanguage)">@language.Value</SelectItem>
        }
    </Select>
    <div class="buttons-div d-flex justify-content-end">
        <Button Color="Color.Primary" Margin="Margin.Is3.FromTop" Clicked="OnButtonContinueClick">@Localizer["BtnContinue"]</Button>
    </div>
</div>
