@inherits DatabaseSetupBase

<div class="database-form">
    <div class="form-div">
        @if (ShowForm)
        {
            <div class="provider-form-div">
                <Label>@Localizer["SelectProviderInstructions"]</Label>
                <RadioGroup TValue="DatabaseProviderType"
                        Name="DatabaseProviders"
                        CheckedValue="@SelectedDatabaseProvider"
                        CheckedValueChanged="@OnCheckedDatabaseProviderChanged"
                        Orientation="Orientation.Vertical">
                    <Radio Value="@(DatabaseProviderType.SqlServer)">SQL Server</Radio>
                    <Radio Value="@(DatabaseProviderType.MySQL)">MySQL</Radio>
                    <Radio Value="@(DatabaseProviderType.PostgreSQL)">PostgreSQL</Radio>
                </RadioGroup>
            </div>
            <hr />
            @if (SelectedDatabaseProvider == DatabaseProviderType.SqlServer)
            {
                <div class="connection-string-form">
                    <Label>@Localizer["Server"]</Label>
                    <TextEdit @bind-Text="Server" />
                    <Label Class="mt-3">@Localizer["Database"]</Label>
                    <TextEdit @bind-Text="Database" />
                    <Label Class="mt-3">@Localizer["Username"]</Label>
                    <TextEdit @bind-Text="Username" />
                    <Label Class="mt-3">@Localizer["Password"]</Label>
                    <TextEdit Role="TextRole.Password" @bind-Text="Password" />
                </div>
            }
            else if (SelectedDatabaseProvider == DatabaseProviderType.MySQL)
            {
                <div class="connection-string-form">
                    <Label>@Localizer["Server"]</Label>
                    <TextEdit @bind-Text="Server" />
                    <Label Class="mt-3">@Localizer["Port"]</Label>
                    <NumericPicker Min="1" @bind-Value="Port" />
                    <Label Class="mt-3">@Localizer["Database"]</Label>
                    <TextEdit @bind-Text="Database" />
                    <Label Class="mt-3">@Localizer["Username"]</Label>
                    <TextEdit @bind-Text="Username" />
                    <Label Class="mt-3">@Localizer["Password"]</Label>
                    <TextEdit Role="TextRole.Password" @bind-Text="Password" />
                </div>
            }
            else if (SelectedDatabaseProvider == DatabaseProviderType.PostgreSQL)
            {
                <div class="connection-string-form">
                    <Label>@Localizer["Server"]</Label>
                    <TextEdit @bind-Text="Server" />
                    <Label Class="mt-3">@Localizer["Port"]</Label>
                    <NumericPicker Min="1" @bind-Value="Port" />
                    <Label Class="mt-3">@Localizer["Database"]</Label>
                    <TextEdit @bind-Text="Database" />
                    <Label Class="mt-3">@Localizer["Username"]</Label>
                    <TextEdit @bind-Text="Username" />
                    <Label Class="mt-3">@Localizer["Password"]</Label>
                    <TextEdit Role="TextRole.Password" @bind-Text="Password" />
                </div>
            }
            <hr />
            <div class="buttons-div d-flex justify-content-center">
                <button class="btn btn-primary" @onclick="@(async () => await OnButtonContinueClick())">@Localizer["BtnContinue"]</button>
            </div>
        }
        else
        {
            <Div>
                <SpinKit Type="SpinKitType.Chase" Centered="true" Size="100px" />
            </Div>
        }
    </div>
</div>